fastapi==0.112.2
uvicorn[standard]==0.30.6
httpx==0.27.2
python-dotenv==1.0.1

prometheus-client==0.20.0
prometheus-fastapi-instrumentator==6.1.0
opentelemetry-sdk==1.26.0
opentelemetry-exporter-otlp==1.26.0
opentelemetry-instrumentation-fastapi==0.47b0

# ElevenLabs + gTTS
gTTS==2.5.1

# optional: faster JSON
orjson==3.10.7


