
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
venv/

# Distribution / packaging
build/
dist/
.eggs/
*.egg-info/

# Others
*.log
.cache/
node_modules/
.DS_Store
.idea/
.vscode/
